<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        {% extends 'base.html'%}

        <title>{% block title %}Skills-HTML-CSS{% endblock%}</title>
        <link rel="stylesheet" href="../static/styles.css"></link>
    </head>
    <body>
        {% block content %}
        <article>
          <header>
            <h1>Employment application</h1>
            <p>Applicants should receive timely communication from the search committee chair to inform them of their status in a search process. The chair can contact applicants by phone, send them written letters, or ask the search administrator to use the email notification options in the online system to notify applicants.</p>
          </header>
        </article>

        <table>
            <form action='/application' method="POST">
               <tr> 
                    <td><label for="name-input">First Name:</label></td>
                    <td><input type="text" name="name" id="name-input"></input></td>
                    <br>
                </tr>
                <tr>
                    <td><label for="lastname-input">Last Name:</label></td>
                    <td><input type="text" name="lastname" id="lastname-input" ></input></td>
                    <br>
                </tr>
                <tr>
                    <td><label for="job-input">Job position:</label></td>
                    <td><select name="job" id="job-input">
                            <option value="Software Engineer">Software Engineer</option>
                            <option value="QA Engineer">QA Engineer</option>
                            <option value="Product Manager">Product Manager</option>
                        </select>
                    </td>
                    <br>
                </tr>
                <tr></tr>
                <tr><td><input type="submit" value="submit"></td></tr>
            </form> 
        </table>       
        {% endblock %}
    </body>
</html>