/*your CSS goes here*/

p{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}
input{
    background-color: yellow;
}

#lastname-input{
    font-weight: bold;
}